# Zeek node configuration
# This file is written by scripts/install-zeek.sh using the ZEEK_INTERFACE
# environment variable. Edit directly if you need to change the interface
# after installation.
#
# For a standalone sensor (single node), use type=standalone.
# For a cluster deployment, see: https://docs.zeek.org/en/master/cluster-setup.html

[zeek]
type=standalone
host=localhost
# Set this to the interface receiving mirrored/SPAN traffic.
# This should NOT be your management interface.
interface=eth1
